.parallax {
    /* The image used */
    background-image: url("download-1.jpg");
    /* Set a specific height */
    min-height: 100vh; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    border-radius: 5%;
}



#wrapper{
    margin-left: auto;
    margin-right: auto;
    width:480px;
}


li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12.5px 18px;
    text-decoration: none;
}

.mySlides {display:none;}

li a:hover:not(.active) {
    color: #929292;
}

.active {
    background-color: #4CAF50;
}

body{
    margin: 0;
    font-size: 19px;
    margin: 0;
    background-color: #000

}

* {
    box-sizing: border-box;
}

#myVideo{
    right: 0;
    bottom: 0;
    max-width: 100vw; 
    max-height: 100vh;
    
}



.sidenav {
    height: 100%;
    width: 0%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F8F8F8;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    position: fixed;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #818181;
}

.shopbutton{
    position: fixed;
}

.sidenav .closebtn {
    color: black;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    position: absolute;
}

.titletext{
    font-family: arial;
    font-size: 50px;
    margin = 0;
    padding-top: 10vh;
    padding-right: 17vw;
}

.discription{
    font-family: arial;
    font-size: 20px;
    margin = 0;
    padding-top: 0vh;
    float: left;
}


.divtest{
    float: right;

}

image1{
    margin: 0;
    padding-top: 0;
}

body{
    background-image: url("download-1.jpg");
    min-height: 100vh; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
    
.mySlides {display:none;}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* my <divs> */